# Day 03

In [31]:
i = int(input('숫자를 입력하세요'))
answer = 75
chance = 5

while chance > 0:
    if i == answer:
        print('정답입니다')
        break
    else:
        chance = chance - 1
        print('정답이 아닙니다')
    
        if i > answer:
            print('up. %d번남았습니다'%chance)
            
        else:
            print('down. %d번남았습니다'%chance)
        
        if chance == 0:
            print('기회가 없습니다')
            break
    i = int(input('숫자를 입력하세요'))

숫자를 입력하세요 45

정답이 아닙니다
down. 4번남았습니다

숫자를 입력하세요 45

정답이 아닙니다
down. 3번남았습니다

숫자를 입력하세요 45

정답이 아닙니다
down. 2번남았습니다

숫자를 입력하세요 45

정답이 아닙니다
down. 1번남았습니다

숫자를 입력하세요 45

정답이 아닙니다
down. 0번남았습니다
기회가 없습니다

In [1]:
for i in range(2, 30 , 3):            # 2~30까지 3씩증가
    print(i)

2
5
8
11
14
17
20
23
26
29

In [85]:
my_fruits = list()
my_car = list()


print(my_car, type(my_car))

'''
append : 리스트에 추가하기 (****이때 원하는 리스트.append 사용)
'''

my_fruits.append('apple')               # 과일 리스트에 사과를 추가
my_fruits.append('watermelon')
my_fruits.append('apple')               # 중복값 추가가능. append는 한번에 1개씩만 추가
my_fruits.append('strawberry')

my_fruits.insert(0, 'banana')           # insert는 원하는 위치에 추가 - 위치를 지정해줘야 한다
print(my_fruits, type(my_fruits))

print(my_fruits[1])

len(my_fruits)

my_fruits.remove('banana')
my_fruits.remove(my_fruits[0])           # remove는 삭제기능. 위치 or 이름으로 지정해서 삭제
print(my_fruits)

my_fruits.remove('apple')                # my까지 쓰고 Tab키를 누르면 해당 셀에 있는 내용 호출가능  / .쓰고 Tab누르면 명령어 호출가능

'''
명령어 입력 후 Shift + Tab 누르면 설명
'''

my_fruits.sort(reverse=True)             # sort는 정렬기능. 오름차순(알파벳의 정해진 숫자가 존재)으로 정렬한다 / 내림차순은 (reverse=True) 삽입
print(my_fruits)

'''
한글 or 중국어등은 유니코드를 인코더로 사용해야 한다(유니코드는 2byte까지 지원) utf : 유니코드 사용
'''

print(my_fruits)
a = my_fruits.pop(-1)                    # pop 대입연산자 = 사용가능   ex) a = my_fruits.pop(-1)  / 리턴값이 없으면 대입연산자 사용 불가능
print(a)
print(my_fruits)                         # pop으로 꺼낸 함수는 리스트에서 삭제된다. (이때 -1은 리스트의 마지막 함수임. -2는 뒤에서 2번째)

'''
매개변수 = 0개 ~ 여러개 / 리턴값 = 0 or 1개
'''

len(my_fruits)

[] <class 'list'>
['banana', 'apple', 'watermelon', 'apple', 'strawberry'] <class 'list'>
apple
['watermelon', 'apple', 'strawberry']
['watermelon', 'strawberry']
['watermelon', 'strawberry']
strawberry
['watermelon']

1

In [113]:
'''
튜플(tuple)은 추가 삭제등 수정이 불가능함. 수정이 필요하면 리스트로 바꿔줘야 한다
튜플을 만들때는 미리 값을 전부 넣고 만들어야한다. / 리스트 = [] 튜플 = () /
'''

my_car = tuple()
my_fruits =('orange','apple','melon','banana')

print(my_car, type(my_car))
print(my_fruits, type(my_fruits))

print(my_fruits[2:4])                    # 인덱스 호출시에는 튜플도 대괄호[]를 사용해야함

my_fruits_list = list(my_fruits)         # 튜플 인덱스로 바꾸는 방법

print(type(my_fruits))
print(type(my_fruits_list))

my_fruits_list.append('strawberry')      # 리스트로 변경했기 때문에 추가가 가능함

print(my_fruits_list)

my_fruits_tuple = tuple(my_fruits_list)  # 리스트를 다시 튜플로 바꾸는 방법 (리스트로 만들어서 추가하고 다시 튜플로 만들 수 있다)

print(type(my_fruits_tuple))

print(my_fruits_tuple.count('banana'))          # count는 개수를 세주는 메소드로 리턴값이 있음

() <class 'tuple'>
('orange', 'apple', 'melon', 'banana') <class 'tuple'>
('melon', 'banana')
<class 'tuple'>
<class 'list'>
['orange', 'apple', 'melon', 'banana', 'strawberry']
<class 'tuple'>
1

In [17]:
'''
set은 list와 거의 동일하지만 중복값이 허용이 안된다
순서 유지가 안되기 때문에 인덱스로 접근 불가  / 인덱스 = {}
'''

my_fruits = {'banana','apple'}       # {}를 사용해서 set만들때는 안에 값이 있어야함
my_car = set()                

print(type(my_car))
print(type(my_fruits))

my_car.add('bently')                 # set에서는 append가 아닌 add로 추가
my_car.add('bently') 
print(my_car)

my_car.add('bmw')
my_car.add('porshe')
my_car.add('kia')
my_car.add('tank') 
print(my_car)

# print(my_car[0])                   # 인덱스로 접근 불가

thisset = {'banana','apple'}

thisset.remove('banana')
print(thisset)

thisset.discard('apple')             # remove 와 discard로 삭제가 가능
print(thisset)

<class 'set'>
<class 'set'>
{'bently'}
{'bmw', 'bently', 'porshe', 'tank', 'kia'}
{'apple'}
set()

In [26]:
'''
입력받은 값을 리스트에 추가하기
'''
score = []
n = 0
while n < 5: 
    x = int(input('점수를 입력하세요'))      # 같은 내용은 위에 넣을 필요가 없음
    score.append(x)                           
    n = n + 1                                 # n = n + 1 - 한번 반복할때마다 n값이 1씩 증가한다

print(score)

점수를 입력하세요 4
점수를 입력하세요 5
점수를 입력하세요 6
점수를 입력하세요 7
점수를 입력하세요 8

[4, 5, 6, 7, 8]

In [58]:
score = []
n = 0
for n in range(5):
    a = input('점수를 추가하세요')
    score.append(a)
    n = n + 1
print(score)

점수를 추가하세요 7
점수를 추가하세요 8
점수를 추가하세요 9
점수를 추가하세요 4
점수를 추가하세요 5

['7', '8', '9', '4', '5']

In [65]:
'''
학생 5명 점수 입력받기
점수를 각각 받아서 총합하고 
평균점수 내기
'''
score = []

n = 0
while n < 5:
    x = int(input('점수를 입력하세요'))
    score.append(x)
    n = n + 1
print(score)

total = 0 

for a in score:
    total = a + total
print(total)

점수를 입력하세요 1
점수를 입력하세요 2
점수를 입력하세요 3
점수를 입력하세요 4
점수를 입력하세요 5

[1, 2, 3, 4, 5]
15

In [ ]:
list = []
print(range(1,n))


n = 5
x = input('%d dddd'%n)

list.append(x)

range(1, 3)

5 dddd 1