# Day 04

## 매개변수와 인수

In [3]:
'''
함수를 호출할 때 매개변수를 입력할때는 값이 존재해야함

함수 호출 : my(x) - my 함수를 호출할때는 x(인수)에 값이 있어야함.

함수는 명령을 실행하면 처음으로 돌아가는데 리턴값이 없으면 그냥 돌아가지만
리턴값을 입력하면 값을 가진채로 돌아간다
'''
print()

# 리턴값

In [1]:
'''
리턴값은 호출하는 위치로 돌아간다. 메인 함수 = 호출

프로그램은 메인에서 시작해서 메인에서 끝남

return 명령어로 실행
'''

def my_add(a, b):                        # 매개변수와 인수는 달라도 상관없음
    x = a + b
    
    return x

In [3]:
y = my_add(10,20)                        # 함수를 통해 리턴값을 받아서 대입시킨다

print(y)

30

In [4]:
number = list()
def my_evenodd(a):
    
    number.append(a)
    if a % 2 ==0:
        s = '짝수'
        return s
    else:
        d = '홀수'                      # 리턴값은 실제로 실행되는 1개로 사용이 가능하다.
        return d

In [6]:
x = int(input('숫자를 입력하시오'))
y = my_evenodd(x)

print(y)

숫자를 입력하시오 8

짝수

In [70]:
def my_addsub(a, b) :
    add = a + b
    sub = a - b
    
    return add, sub                    # 파이썬만 리턴값이 복수여도 실행이 가능. 이때 리턴값은 타입이 tuple에 묶여서 나온다

In [75]:
y = my_addsub(40, 20)

print(type(y))
print(y)

<class 'tuple'>
(60, 20)

In [89]:
def my_area(a):
    y = a * a * 3.14
    
    return y

In [116]:
number = int(input('반지름을 입력하세요'))
x = my_area(number)

print(x)
print(type(x))

반지름을 입력하세요 4420

61344296.0
<class 'float'>

In [123]:
def my_familly(*name) :              # 매개변수 갯수를 모를때는 *사용. 파이썬만 가능
    print(type(name))
    print(name)

In [126]:
my_familly('김종문')
my_familly('김종문','김종훈')
my_familly('김종문','김종훈','김종완')

<class 'tuple'>
('김종문',)
<class 'tuple'>
('김종문', '김종훈')
<class 'tuple'>
('김종문', '김종훈', '김종완')

In [145]:
def my_familly(*name):
    for n in name:
        print(n)

In [146]:
my_familly('김종문', '김종훈','김종완')

김종문
김종훈
김종완

In [147]:
my_familly(a)

김종문

In [168]:
'''
매개변수 이름 지정 = 별표 2개 ** 사용
호출할 때 (a = 'b', c = 'd') dict처럼 키값을 지정해서 사용
'''
    
def my_familly(**name):
    print(type(name))
    print(name)
    #print(name['fname'])                # 키를 지정해서 출력하면 해당 키의 값만 출력된다.

In [169]:
my_familly(fname='jongmun', lname = 'kim')

<class 'dict'>
{'fname': 'jongmun', 'lname': 'kim'}

In [7]:
def my_add(*number):
    for i in number:
        add = i + b
    
    return add

In [10]:
a = int(input('숫자를 입력하세요'))
b = int(input('숫자를 입력하세요'))
y = my_add(a)

print(y)

숫자를 입력하세요 123
숫자를 입력하세요 123

246

In [1]:
def my_add(*number):
    add = a + b
    
    return add

In [6]:
a = int(input('숫자를 입력하세요'))
b = int(input('숫자를 입력하세요'))
y = my_add(a)

print(y)

숫자를 입력하세요 98
숫자를 입력하세요 54

152

In [73]:
'''
매개변수에 기본값 설정가능 - 이 때 인수가 값을 넣지 않으면 기본값이 출력된다
'''

def my_country(state, country ='korea'):                  # 기본값을 넣은 매개변수는 항상 마지막에 위치해야한다
    print(state, country)

In [74]:
my_country('kangnam')
my_country('kyoto','japan')

kangnam korea
kyoto japan

In [76]:
'''
매개변수가 컬렉션인 경우

'''

def my_function(food):
    for x in food:
        print(x)

In [79]:
fruits = ['apple' , 'banana', 'cherry']

my_function(fruits)

apple
banana
cherry

In [7]:
'''
입력받을 숫자의 개수 정하기 + 그 수만큼 숫자 입력받고 총합구하기
'''


def my_add(a):
    add = 0
    
    for i in a:
        add = i + add 
    
    return add

In [8]:
number = list()

x = int(input('개수를 입력하세요'))

for i in range(0, x):
    c = int(input('숫자를 입력하세요'))
        
    number.append(c)

a = my_add(number)

print(a)

개수를 입력하세요 3
숫자를 입력하세요 1
숫자를 입력하세요 2
숫자를 입력하세요 3

6

In [264]:
'''
개수 정해서 숫자 입력받고 총합 곱하기
'''

def my_q(a):
    add = 1
    
    for i in a:
        add = i * add
        
    return add

In [266]:
number = list()
x = int(input('개수를 입력하시오'))

for i in range(0, x):
    c = int(input('숫자를 입력하시오'))
    
    number.append(c)
    
y = my_q(number)

print(y)

개수를 입력하시오 3
숫자를 입력하시오 1
숫자를 입력하시오 2
숫자를 입력하시오 3

6

In [267]:
'''
가족 수 입력받고 각 구성원 이름 입력받기
'''

def my_family(a):
    print(a)

In [271]:
family = list()
x = int(input('가족구성원의 수를 기입하세요.'))
for i in range(0, x):
    c = input('가족구성원의 성함을 기입하세요.')
    
    family.append(c)
    
my_family(family)

가족구성원의 수를 기입하세요. 5
가족구성원의 성함을 기입하세요. A
가족구성원의 성함을 기입하세요. B
가족구성원의 성함을 기입하세요. C
가족구성원의 성함을 기입하세요. D
가족구성원의 성함을 기입하세요. E

['A', 'B', 'C', 'D', 'E']

In [9]:
'''
시험개수와 시험점수를 입력받아 평균점수가 정해진 점수를 넘으면 합격 아니면 불합격 출력
'''

def my_add(a):
    add = 0
    
    for i in a:
        add = i + add 
    
    avg = add / len(a)
    return avg

In [10]:
number = list()

x = int(input('응시한 시험의 개수를 입력하세요'))

for i in range(0, x):
    c = int(input('시험 점수를 입력하세요'))
        
    number.append(c)

a = my_add(number)

print(a)

if a >= 70:
    print('합격입니다.')
else:
    print('불합격입니다.')

응시한 시험의 개수를 입력하세요 2
시험 점수를 입력하세요 45
시험 점수를 입력하세요 45

45.0
불합격입니다.

In [312]:
'''
매개변수를 보면 타입과 리턴값이 있는지를 확인
'''

a = max(1,2,3,4,5)

print(a)

'''
pow 는 제곱을 구할때 사용한다
pow(a, b) a = 제곱할 숫자 b = 몇번 제곱할지
'''

b = pow(4,3)
print(b)

'''
sum은 합을 구할 때 사용
리스트에 숫자 넣고 sum 사용하면 합을 구할 수 있다.
'''
p = sum ([1,2])
print(p)

5
64
3

In [332]:
'''
삼각형 반지름 길이 받아서 넓이 구하기
'''

def area(a):
    area1 = pow(a,2) * 3.14
        
    return area1

In [375]:
x = int(input('삼각형의 반지름 길이를 입력하시오'))

z = area(x)

print('삼각형의 넓이는%.2f입니다.'%z)

삼각형의 반지름 길이를 입력하시오 3

삼각형의 넓이는28.26입니다.

In [380]:
'''
정사각형
'''

def area(a):
    area = pow(a, 2)
    
    return area

In [391]:
x = int(input('정사각형의 한변의 길이를 입력하세요.'))

y = area(x)

print('정사각형의 넓이는%d입니다.'%y)

정사각형의 한변의 길이를 입력하세요. 4

정사각형의 넓이는16입니다.

In [393]:
'''
직사각형
'''

def area(a, b):
    area = a * b
    
    return area

In [406]:
a = int(input('직사각형의 가로길이를 입력하세요.'))
b = int(input('직사각형의 세로길이를 입력하세요.'))

y = area(a, b)
print('직사각형의 넓이는%d입니다.'%y)

직사각형의 가로길이를 입력하세요. 1
직사각형의 세로길이를 입력하세요. 1

직사각형의 넓이는1입니다.

In [11]:
'''
물건 개수와 가격 입력받고 총 금액 출력    
물건의 총 금액을 sum함수로 구하기
'''

total_price = list()
x = int(input('물품 개수를 입력하세요.'))

for i in range(x):
    price = int(input('가격을 입력하세요.'))
    total_price.append(price)

a = sum(total_price)

print('총 %d원 입니다.'%a)

물품 개수를 입력하세요. 2
가격을 입력하세요. 100
가격을 입력하세요. 300

총 400원 입니다.

In [ ]:
'''
2달치 핸드폰 요금을 입력받고 평균값 계산
이때 2달치 핸드폰 요금을 입력받을때 저번달,이번달 핸드폰 요금을 입력하라고 출력하기


함수를 만들어서 평균값 계산
메인에서 if문을 통해 인풋의 텍스트를 결정
'''