# Day 06

# 텍스트파일 읽기 쓰기

In [11]:
'''
파일 - 파이썬으로 가져올 때 데이터를 순차적으로 읽어온다
stream 작업 **
1. open 2. read (txt파일)

jpg 같은 이미지 파일은 binary(바이너리)파일이라고 하며 인코딩 작업이 필요 없음

영어 = 1byte / 한국어 = 2byte (유니코드 사용)


파이썬 - 파일 작업할 때
1. open 2.write 3.close

txt파일은 영구저장
'''

f = open('test.txt' , 'w', encoding='utf-8')               # stream 작업. w = write 원래는 wt해야하지만 txt가 기본값이라 생략가능

f.write('텍스트 파일을 새로 만들고 텍스트를 씁니다\n')

f.write('텍스트 파일을 새로 만들고 텍스트를 씁니다\n')

f.close()                                                  # write를 할때는 필수적으로 close를 해줘야함

In [19]:
f = open('test.txt', 'r', encoding='utf-8')                  # stream 작업. r = read rt에서 txt는 기본값이라 생략

#print(f.readline())
#print(f.readline())
#print(f.readline())
#f.read(10)

#while True : 
    #x = f.readline()
    #if x  :                                           # if x != '' :  or if x == True / 파이썬에서는 빈문자열 = false 
        #print(x)
    
    #else :
       # break

        
#print(type(f.readlines()))

x = f.readlines()
for i in x :
    print(i)


f.close()

텍스트 파일을 새로 만들고 텍스트를 씁니다

텍스트 파일을 새로 만들고 텍스트를 씁니다

# with 절

In [39]:
'''
with 블럭이 끝나면 오픈한 파일이 자동으로 클로즈 됨   *** 자주 사용
'''

with open('test_txt', 'a', encoding = 'utf-8') as test :
    test.write('테스트입니다1.\n')
    test.write('테스트입니다2.\n')
 
with open('test_txt', 'r', encoding = 'utf-8') as test :
    print(test.readline())
    print(test.readline())

테스트입니다1.

테스트입니다2.

In [52]:
import json

json_string = '''[{ "name" : "john" , 
                   "age"  : 25 , 
                   "city" : "new york"} ,
                   { "name" : "kim" , 
                   "age"  : 27 , 
                   "city" : "seoul"}]'''

with open('name.json', 'w') as f :
    f.write(json_string)

with open('name.json', 'r') as f :
    json_ = json.load(f)
    print(json_)

print(type(json_string))

[{'name': 'john', 'age': 25, 'city': 'new york'}, {'name': 'kim', 'age': 27, 'city': 'seoul'}]
<class 'str'>

In [54]:
with open('name.json', 'r') as f :
    pp = json.load(f)                         # json파일은 load를 거쳐서 수정 편집등 가능
    print(pp)
    print(type(pp))

[{'name': 'john', 'age': 25, 'city': 'new york'}, {'name': 'kim', 'age': 27, 'city': 'seoul'}]
<class 'list'>

In [107]:
import requests                     # 크롤링할때 사용
import json

response = requests.get('https://api.github.com/')

#print(type(response))

response.status_code

#if response.status_code == 200 :
    #print(response.content)
    #print(response.text)
json_object = json.loads(response.text)


#print(json_object['current_user_url'])

with open('response.text', 'w') as f :
    f.write(response.text)
    
    
'''
web 에서 request를 통해서 response를 받음

가져온 내용을 mypage에서 조작

mypage에서 file로 저장 (open , w)

web   -   mypage   -  file
  (request)      (open)
'''

'\nweb 에서 request를 통해서 response를 받음\n\n가져온 내용을 mypage에서 조작\n\nmypage에서 file로 저장 (open , w)\n\nweb   -   mypage   -  file\n  (request)      (open)\n'

# 정규식 RegEx

In [ ]:
'''
특정한 규칙을 가진 문자열의 집합을 표현할 때 사용하는 형식언어

1. 메타문자


([0-9]{3}) = 0부터9까지 3번
'''

In [130]:
import re

p = re.compile('[a-z]')
print(type(p))
print(p.match('a'))
print(p.match('y'))
print(p.match('A'))

print(p.match('python'))
print(p.match('python'))

<class 're.Pattern'>
<re.Match object; span=(0, 1), match='a'>
<re.Match object; span=(0, 1), match='y'>
None
<re.Match object; span=(0, 1), match='p'>
<re.Match object; span=(0, 1), match='p'>

In [122]:
import re

p = re.compile('a.b')
p = re.compile('a.b', re.DOTALL)

print(p.match('a\nb'))

<re.Match object; span=(0, 3), match='a\nb'>

In [159]:
import re

#p = re.compile("^python\s\w+")
p = re.compile("^python\s\w+", re.MULTILINE)         # 파이썬으로 시작 , 공백1개 , 몇글자든 상관없음
data = """python one 
life is too short
python two
you need python
python three"""

print(p.findall(data))
print(p.match(data))

['python one', 'python two', 'python three']
<re.Match object; span=(0, 10), match='python one'>

In [187]:
import re

p = re.compile('[a-z]+')   # 영문자 여러개


print(p.match('aaaaa'))
print(p.match('bbbbbbbb'))
print(p.match('baaaaa'))
print(p.match('aabbla'))

x = p.match('aaaaa')
print(x.start())
print(x.end())

<re.Match object; span=(0, 5), match='aaaaa'>
<re.Match object; span=(0, 8), match='bbbbbbbb'>
<re.Match object; span=(0, 6), match='baaaaa'>
<re.Match object; span=(0, 6), match='aabbla'>
0
5

In [184]:
import re

p = re.compile('[a-z]+')   # 영문자 여러개


print(p.search('bbaaaaa'))
print(p.search('aabbbbbbb'))
print(p.search('1aaaaa'))
print(p.search('1baabbla'))

x = p.search('lbaabbla')
print(x.start())
print(x.end())

<re.Match object; span=(0, 7), match='bbaaaaa'>
<re.Match object; span=(0, 9), match='aabbbbbbb'>
<re.Match object; span=(1, 6), match='aaaaa'>
<re.Match object; span=(1, 8), match='baabbla'>
0
8

In [196]:
print(p.findall('aaa'))
print(p.findall('11abaaa'))
print(p.findall('bba11aaa'))
print(p.findall('b1ab1aaa'))

['aaa']
['abaaa']
['bba', 'aaa']
['b', 'ab', 'aaa']

In [197]:
iterator = p.finditer('a1b1aa')

for i in iterator :
    print(i)

<re.Match object; span=(0, 1), match='a'>
<re.Match object; span=(2, 3), match='b'>
<re.Match object; span=(4, 6), match='aa'>

In [254]:
import re

Nameage = '''
jaice is 22 and orn is 50
jinx is 17 an joe is 22
'''
p = re.compile('\d{1,3}')                              # \d = [0-9]
ages  = p.findall(Nameage)
p2 = re.compile('[a-z][A-Z]*')                         # * = 0번이
names = p2.findall(Nameage)

#age = re.findall('\d{1,3}', Nameage)

#name = re.findall('[A-Z][a-z]+', Nameage)

myDict = {}
i = 0
for n in names :
    myDict[n] = ages[i]
    index += 1
    
print(myDict)

{'j': '22', 'a': '22', 'i': '22', 'c': '22', 'e': '22', 's': '22', 'n': '22', 'd': '22', 'o': '22', 'r': '22', 'x': '22'}

In [ ]:
import re
 
Nameage = '''
Janice is 22 and Theon is 33
Gabriel is 44 and Joey is 21
'''
 
ages = re.findall('\d{1,3}', Nameage)
names = re.findall('[A-Z][a-z]*', Nameage)
 
ageDict = {}

index = 0

for eachname in names:
    ageDict[eachname] = ages[index]
    index += 1
    
print(ageDict)

In [13]:
import requests

import re

response = requests.get('https://www.summet.com/dmsi/html/codesamples/addresses.html')

p = re.compile("\(\d{3}\) \d{3}-\d{4}")
y = re.compile("\d{5}")

phone_num = p.findall(response.text)
num = y.findall(response.text)


for i in phone_num :
    x = print(i)
    
for i in num :
    print(i)
    
with open('phone_num.txt', 'w') as f :
    for a in phone_num :
        f.write(a)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139
96522
20620
11523
39531
47096
10855
08219
12482
67708
98804
69409
24975
38100
45149
49854
19253
02913
09289
93373
20783
90255
37547
48432
58563
93479
30309
51324
92358
19759
55797
37232
50654
31626
43526
95302
29738
54886
77373
11292
73585
87535
77382
35282
82776
92508
85794
19408
08609
31522
58521
81202
10626
58520
57692
04645
26278
69679
03869
55246
87323
84872
41329
30135
99602
91750
76865
73490
63725
96892
22767
77987
43841
40684
03828
50710
66309
67973
71983
79637
06963
07367
68999
73510
53700
48247
12657
56618
28423
97020
93490
62401
05182
87065
92611
88317
36734
70863
19587
07528
48580

In [15]:
import requests

import re

response = requests.get('https://www.summet.com/dmsi/html/codesamples/dch.html')

p = re.compile('\d{3},\d{3}.\d{2}')

price = p.findall(response.text)

for i in price :
    print(i)

319,084.00
153,454.00
203,248.00
252,190.00
252,190.00
480,536.00
438,888.00
390,122.67
473,955.00
182,019.00
182,019.00
348,098.00
369,141.00
328,125.33
294,835.00
163,797.22
306,383.00
136,170.22
281,479.00
123,409.00
474,494.00
105,281.00
210,282.00
241,571.00
277,501.00
215,834.11
340,623.00
447,049.00
270,451.00
168,269.00
130,875.89
388,277.00
110,878.00
447,473.00
198,876.89
164,614.00
459,535.00
129,273.00
172,584.00